
a:hover {
    color:red;
    background-color: grey;
    }

.header {
    align
    background-color:rgba(45, 45, 45, 0.1);
}

.nav {
    display:block;
}

.footer {
    background-color: rgba(45, 45, 45, 0.1);
}

.left_pane {
    color:darkgoldenrod;
}

.right_pane {
    color:darkgreen;
}